- title "Mitmachen!"

%p
  Schreib dem Vattenfall Vorstand Deine Meinung!
  Den vorformulierten Text kannst Du anpassen und mit Name, Adresse und Email (nötig zur Bestätigung) versenden.
  Dieser Brief geht an:
  %ul
    %li Tuomas Hataka (Vorstandsvorsitzender Vattenfall Europe AG)
    %li \...

- form_for(@protest_mail, :url => {:controller => 'protest', :action => 'create'}) do |mail_form|
  = mail_form.error_messages
  %h3 Email
  %p
    %b Betreff
    %br/
    = mail_form.text_field :subject
  %p
    %b Inhalt
    %br/
    = mail_form.text_area :body, :size => "60x30"

  - mail_form.fields_for :activist do |activist_form|
    %h3 Deine Daten
    %p
      = activist_form.select :sex, [["Frau", 0], ["Herr", 1]]
    %p
      %b Titel
      %br/
      = activist_form.text_field :title
    %p
      %b Vorname
      %br/
      = activist_form.text_field :forename
    %p
      %b Nachname
      %br/
      = activist_form.text_field :surename
    %p
      %b E-Mail
      %br/
      = activist_form.text_field :email
    %p
      %b Strasse und Hausnr.
      %br/
      = activist_form.text_field :street
    %p
      %b PLZ
      %br/
      = activist_form.text_field :zipcode
    %p
      %b Stadt
      %br/
      = activist_form.text_field :city
    %p
      %b Tätigkeit
      %br/
      = activist_form.text_field :job
    %p
      %b Newsletter
      = activist_form.check_box :newsletter
  %p
    = mail_form.submit "Protestbrief verschicken"
    |
    = link_to "Abbrechen", :back

