- title "Mitmachen!"

%p Vattenfall verklagt Klimaschützer/innen – hier online demonstrieren und Email an den Vattenfall Vorstand verschicken.

%p Wir lassen uns Klimaschutz nicht verbieten – erst recht nicht von Vattenfall! Für den sofortigen Baustopp des Kohlekraftwerks in Hamburg-Moorburg, für die Rücknahme der Strafanzeige gegen die Klimaschützer/innen – hier den vorformulierten Brief unterschreiben oder selbst etwas schreiben und Druck machen:

.form
  - form_for(@protest_mail, :url => {:controller => 'protest', :action => 'create'}) do |mail_form|
    = mail_form.error_messages :header_message => 'Ihre Angaben sind unvollständig'

    %h3 Dein Protestbrief an Vattenfall
    %p
      Der Brief geht an den Vorstand von Vattenfall und direkt an die Kundenzentren in Berlin und Hamburg.
      = link_to_function "Alle Empfänger", "Element.toggle('recipients')"
      #recipients{:style => "display:none"}
        %ul
          %li Lars Göran Josefsson (Vorstandsvorsitzender Vattenfall AB)
          %li Tuomo Hatakka (Vorstandsvorsitzender Vattenfall Europe AG)
          %li Reinhardt Hassa (Vorstandssprecher der Vattenfall Europe Generation AG)
          %li Heinrich Breuer (Chef Kraftwerksmanagement bei Vattenfall Europa Generation)
          %li Maud Olofsson (Schwedische Wirtschaftsministerin als Eigner von Vattenfall)
          %li Andreas Carlgren (Schwedischer Umweltminister als Eigner von Vattenfall)
          %li Vattenfall-Kundendienst Berlin
          %li Vattenfall Kundendienst Hamburg
          %li Vattenfall Pressestelle
          %li Carl XIV. Gustav (König von Schweden als Eigner von Vattenfall)

    - mail_form.fields_for :activist do |activist_form|
      .group
        .left
          %label{ :for => "protest_mail_activist_attributes_forename" } Vor*-/Name*:
        .right
          = activist_form.text_field :forename, :size => 13
          = activist_form.text_field :surename, :size => 13
        .clear
      .group
        .left
          %label{ :for => "protest_mail_activist_attributes_street" } Straße, Hnr*:
        .right
          = activist_form.text_field :street, :size => 30
        .clear
      .group
        .left
          %label{ :for => "protest_mail_activist_attributes_zipcode" } PLZ*/Ort*:
        .right
          = activist_form.text_field :zipcode, :size => 5
          = activist_form.text_field :city, :size => 21
        .clear
      .group
        .left
          %label{ :for => "protest_mail_activist_attributes_email" } E-Mail*:
        .right
          = activist_form.text_field :email, :size => 30
        .clear
      .group
        .right
          = activist_form.check_box :newsletter, :checked => "checked"
          %small Bitte informiere mich über den Fortgang dieser und weiterer Aktionen.
        .clear


    %h3 Folgende E-Mail wird an Vattenfall gesendet
    .group
      .left
        %label{ :for => "protest_mail_subject" } Betreff:
      .right
        = mail_form.text_field :subject, :size => 30
      .clear
    .group
      %label{ :for => "protest_mail_body" } Inhalt:
      %br/
      = mail_form.text_area :body, :size => "50x15"

    %p
      = mail_form.submit "Protestbrief verschicken"

