- title "Mitmachen!"

%p
  Schreib dem Vattenfall Vorstand Deine Meinung!
  Den vorformulierten Text kannst Du anpassen und mit Name, Adresse und Email (nötig zur Bestätigung) versenden.
  Dieser Brief geht an:
  %ul
    %li Tuomas Hataka (Vorstandsvorsitzender Vattenfall Europe AG)
    %li \...

#signer
  - form_for(@protest_mail, :url => {:controller => 'protest', :action => 'create'}) do |mail_form|
    = mail_form.error_messages :header_message => 'Ihre Angaben sind unvollständig'

    %p
      %h1 Ihre persönlichen Daten:

      - mail_form.fields_for :activist do |activist_form|
        %label{ :for => "protest_mail_activist_attributes_title" } Anrede*/Titel
        = activist_form.select :sex, [["Frau", 0], ["Herr", 1]]
        = activist_form.text_field :title, :class => "mittel"
        %br/

        %label{ :for => "protest_mail_activist_attributes_forename" } Vor*-/Name*:
        = activist_form.text_field :forename, :class => "mittel"
        = activist_form.text_field :surename, :class => "mittel"
        %br/

        %label{ :for => "protest_mail_activist_attributes_street" } Straße/Hnr*:
        = activist_form.text_field :street, :class => "sehrgross"
        %br/

        %label{ :for => "protest_mail_activist_attributes_zipcode" } PLZ*/Ort*:
        = activist_form.text_field :zipcode, :class => "klein"
        = activist_form.text_field :city, :class => "gross"
        %br/

        %label{ :for => "protest_mail_activist_attributes_email" } E-Mail*:
        = activist_form.text_field :email, :class => "sehrgross"
        %br/

        %label{ :for => "protest_mail_activist_attributes_zipcode" } Tätigkeit:
        = activist_form.text_field :job, :class => "sehrgross"
        %br/

        #newslettercheckbox
          = activist_form.check_box :newsletter, :checked => "checked"
          %p
            %small Bitte informieren Sie mich über den Fortgang dieser und weiterer Aktionen.


    %p
      %h1 Folgende E-Mail wird an Vattenfall gesendet:

      %label{ :for => "protest_mail_subject" } Betreff
      = mail_form.text_field :subject, :class => "sehrgross"

      %label{ :for => "protest_mail_body" } Inhalt
      = mail_form.text_area :body, :size => "45x20"

    %p
      %br/
      = mail_form.submit "Protestbrief verschicken"
      |
      = link_to "Abbrechen", :back

