- title "Newsletter anzeigen"

%p
  = link_to "Bearbeiten", edit_newsletter_path(@newsletter)
  |
  = link_to "Löschen", @newsletter, :method => :delete, :confirm => "Bist Du sicher?"
  |
  = link_to "Übersicht", newsletters_path
  - unless @newsletter.send_at
    |
    = link_to "Versende Testnewsletter", send_test_newsletter_path(@newsletter)
    |
    = link_to "Newsletter abschicken!", deliver_newsletter_path(@newsletter), :confirm => "Willst Du wirklich, dass der Newsletter verschickt wird?"

.news
  %p
    %b Erstellt am:
    = I18n.l @newsletter.created_at
  %p
    %b Zuletzt bearbeitet am:
    = I18n.l @newsletter.updated_at
  %p
    %b Verschickt am:
    = I18n.l @newsletter.send_at if @newsletter.send_at
  %p
    %b Betreff:
    = @newsletter.subject
  %p
    %b Inhalt:
    = @newsletter.formatted_content('name' => "Magda Mustermensch")
%p
  = link_to "Bearbeiten", edit_newsletter_path(@newsletter)
  |
  = link_to "Löschen", @newsletter, :method => :delete, :confirm => "Bist Du sicher?"
  |
  = link_to "Übersicht", newsletters_path
