- title "Unterstützerinnen"

%p
  %ul
    %li= link_to "BUND Hamburg", "http://bund-hamburg.bund.net/"
    %li= link_to "gegenstromBerlin", "http://www.gegenstromberlin.net/"
    %li= link_to "Tschüss Vattenfall", "http://www.hamburg-steigt-um.de/"
    %li= link_to "Grüne Jugend", "http://www.gruene-jugend.de"
    %li= link_to "Avanti Projekt undogmatische Linke", "http://www.avanti-projekt.de/"

%p
  Ihr seid eine Gruppe, die unsere „ausgekohlt“-Kampagne unterstützen möchte? Schickt eine Email an:
  = mail_to "info[at]ausgekohlt.de/net/info"
  Wir freuen uns über jede Unterstützung!

%h2 Spenden
%p
  Die Gerichtsverfahren gegen die Aktivist/innen kosten viel Geld: Einen Teil der Kosten können wir gut decken,
  aber für Anwält/innen, Öffentlichkeitsarbeit und Aktionen sind wir trotzdem auf Spenden angewiesen.
  Wir bitten um eine Spende an:
%p
  Kontoinhaber: Vattenfall ausgekohlt
  %br/
  Kontonummer: 4018036800
  %br/
  Bankleitzahl: 43060967
  %br/
  Bank: GLS Bank
  %br/
  Stichwort: Gerichtsverfahren Klimacamp