- title "Unterstützerinnen"

%p
  %ul#supporter
    %li= link_to "BUND Hamburg", "http://bund-hamburg.bund.net/"
    %li= link_to "gegenstromBerlin", "http://www.gegenstromberlin.net/"
    %li= link_to "Tschüss Vattenfall", "http://www.hamburg-steigt-um.de/"
    %li= link_to "Grüne Jugend", "http://www.gruene-jugend.de"
    %li= link_to "Avanti Projekt undogmatische Linke", "http://www.avanti-projekt.de/"
    %li= link_to "glocal hanau", "http://www.linksnavigator.de/node/45"
    %li= link_to "Attac", "http://www.attac.de"
    %li= link_to "Noya - das Jugendnetzwerk in Attac", "http://www.no-ya.de"

%p
  Ihr seid eine Gruppe, die unsere „ausgekohlt“-Kampagne unterstützen möchte? 
  Schickt eine Email an: info [at] ausgekohlt.net
  %br/
  Wir freuen uns über jede Unterstützung!

%h2 Spread the word
%p
  Du hast eine eigene Webseite, einen Blog oder bist zufällig mit jemandem befreundet die/der das hat?
  Dann lade Dir eines unserer
  = link_to "Banner", :action => 'banner'
  herunter und setze es auf die Seite.