<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "StoppVattenfall") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
      <div id="footer">
        <%= link_to "Impressum", :controller => "site", :action => "terms" %>
        <%= link_to "Datenschutz", :controller => "site", :action => "privacy" %>
        <%= link_to "Kontakt", :controller => "site", :action => "contact" %>
    </div>
  </body>
</html>
