<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title>ausgekohlt! - <%= yield(:title) -%></title>
    <link rel="alternate" type="application/atom+xml" title="Ausgekohlt.net"
          href="<%= url_for(:controller => 'blog', :format => :atom) %>" />
    <%= stylesheet_link_tag 'base' %>
    <%= javascript_include_tag 'prototype' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="slogan">
          <h1><a href="/">Vattenfall hat ausgekohlt!</a></h1>
          Vattenfall verklagt Klimaschützer. Tu etwas dagegen!
        </div>
      </div>
      <div id="menu">
        <ul>
          <li><%= link_to "Mitmachen", :controller => 'protest' -%></li>
          <li><%= link_to "News", blog_path -%></li>
          <li><%= link_to "Unterstützerinnen", site_link_path('unterstutzerinnen') -%></li>
          <li><%= link_to "Spenden", site_link_path('spenden') -%></li>
          <li><%= link_to "Hintergrund", site_link_path('hintergrund') -%></li>
        </ul>
      </div>
      <div id="content">
        <div id="main">
          <%- flash.each do |name, msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}", :class => 'flash_box' %>
          <%- end -%>

          <%- if show_title? -%>
            <h2><%=h yield(:title) %></h2>
          <%- end -%>

          <%= yield %>
        </div>
        <div id="sidebar">
          <div class="inner">
            <div class="button">
              <%= link_to image_tag("symbol_mitmachen.png", :mouseover => "symbol_mitmachen_down.png"), {:controller => 'protest'}, :title => "Mitmachen" -%>
            </div>
            <div class="button">
              <%= link_to image_tag("symbol_news.png", :mouseover => "symbol_news_down.png"), blog_path, :title => "aktuelle Neuigkeiten" -%>
            </div>
            <div class="button">
              <%= link_to image_tag("symbol_unterstuetzer.png", :mouseover => "symbol_unterstuetzer_down.png"), site_link_path('unterstutzerinnen'), :title => "Unterstützerinnen" -%>
            </div>
            <div class="button">
              <%= link_to image_tag("symbol_spenden.png", :mouseover => "symbol_spenden_down.png"), site_link_path('spenden'), :title => "Spenden" -%>
            </div>
            <div class="button">
              <%= link_to image_tag("symbol_hintergrund.png", :mouseover => "symbol_hintergrund_down.png"), site_link_path('hintergrund'), :title => "Hintegrund" -%>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
